@model JobApplicationCreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="row page-box">
    <div class="col-sm-12">
        <h2>Apply for: @Html.ActionLink(Model.OfferName, "Details", "JobOffer", new { id = Model.JobOfferId })</h2>
        @using (Html.BeginForm("Create"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.JobOfferId)
            @Html.HiddenFor(m => m.OfferName)

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Lastname)
                @Html.EditorFor(m => m.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Lastname, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.EditorFor(m => m.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DateOfBirth)
                <div class="input-group">
                    @Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CvUrl)
                @Html.EditorFor(m => m.CvUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.CvUrl, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        }
    </div>
</div>



