@model JobOfferCreateView

@{
    ViewData["Title"] = "Create";
}

<div class="row page-box">
    <div class="col-sm-12">
        <h2>New Job Offer</h2>
        @using (Html.BeginForm("Create"))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelEditorValidationMessageFor(m=> m.JobTitle)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Company)
                @Html.DropDownListFor(m => m.CompanyId,
                    Model.Companies.Select(c => new SelectListItem { Text = c.Name, Value = c.Id.ToString() }),
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CompanyId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelEditorValidationMessageFor(m=>m.Location)
            </div>

            <div class="form-group">
                @Html.LabelMoneyEditorValidationMessageFor(m => m.SalaryFrom, "From")
            </div>

            <div class="form-group">
                @Html.LabelMoneyEditorValidationMessageFor(m => m.SalaryTo, "To")
            </div>

            <div class="form-group">
                @Html.LabelCalendarEditorValidationMessageFor(m => m.ValidUntil)
            </div>

            <div class="form-group">
                @Html.LabelTextAreaValidationMessageFor(m => m.Description, "Enter description")
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        }
    </div>
</div>

